h1 {
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	position: relative;
	padding-bottom:  5px;
	color: #455;
}
p {
	font-size: 20px;
	text-align: center;
	padding-bottom:10px;
	color: #555;
}
body {
	max-width: 85%;
    margin-left:auto;
    margin-right:auto;
    background-color: #CDD;
    font-family: Helvetica,Arial,sans-serif;
}
h2 {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	position: relative;
	padding-bottom:  10px;
	color: #455;
	padding-top: 20px;
}
#greenButton:hover {
	opacity: 0.7;
}
#head {
	padding-top: 15%;
}
#summary, #list {
	font-size: 25px;
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	color: #455;
}
.hidden {
	visibility: hidden;
}
@media(max-width:767px){
	#totalPrice {
		font-size: 125px;
		margin-top: 50px;
	}
	.greenButton  {
	width: 160px;
	border-radius: 15px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #00aa77;
	border-width: 0;
	background-color: transparent;
	}
	.greenButton2  {
	width: 160px;
	border-radius: 15px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	border-width: 0;
	background-color: #00aa77;
	}
	.remov {
	padding-top: 5px;
	font-size: 30px;
	}
}	
@media(min-width:768px){
	#totalPrice {
		font-size: 180px;
		margin-top: 40px;
	}
	.greenButton  {
	width: 200px;
	border-radius: 15px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #00aa77;
	border-width: 0;
	background-color: transparent;
	}
	.greenButton2  {
	width: 200px;
	border-radius: 15px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	border-width: 0;
	background-color: #00aa77;
	}
	.remov {
	padding-top: 20px;
	font-size: 50px;
}
}
.table {
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 0;
}
.table-responsive {
	border: 0;
}
.table>.col-lg-6 {
	width: auto;
}
#toEat, #toParty, #toActivity, #toFlights, #toCalculator, .progress {
    margin-top: 25px;
    margin-right: 20px;
    float: right;
}
#toHome, #toSleep, #toEat2, #toParty2, #toActivity2, #toFlights2, #toCalculator2, #toCountry {
    margin-top: 25px;
    margin-left: 0; 
    float: left;
}
.image {
	text-align: center;
}
h3 {
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
}
.progress {
	float:right;
	margin-top: 33px;
	margin-right: 20px;
	width: 250px;
}
.progress-bar {
	background-color: #00aa77;
	text-align: right;
	padding-right: 10px;
}
.dolar:hover {
	transform: scale(1.35);
}
.bigButtons {
	text-align: center;
	padding: 20px 0;
}
.autoHeight {
	margin-top: 10%;
}
#addBelow {
	margin-top: 25px;
}
.glyphicon-remove {
	cursor: pointer;
}
.table1 {
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px dashed grey;
	font-size: 15px;
}
.daysInput {
	background-color: transparent;
	border-color: transparent;
	max-width: 45px;
	text-align: center;
}
.input-group-addon, .backie {
	font-size: 20px;
	background-color: #00aa77;
	font-weight: bold;
	color: white;
	border: 0;
}
.inputHeight {
	height: 42px;
	border: 0;
}
#addCountry {
	padding-top: 20px;
	font-size: 75px;
}
#addCountry>a {
	color: #455;
	text-decoration: none;
	cursor: pointer;
}
#greenLink {
	color: #00aa77;
}
.centerButton {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
#addCountry {
	padding-top: 15px;
	font-size: 20px;
}