h1 {
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	position: relative;
	padding-bottom:  5px;
	color: #455;
}
p {
	font-size: 20px;
	text-align: center;
	padding-bottom:10px;
	color: #555;
}
body {
	max-width: 85%;
    margin-left:auto;
    margin-right:auto;
    background-color: #CDD;
    font-family: Helvetica,Arial,sans-serif;
}
h2 {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	position: relative;
	padding-bottom:  10px;
	color: #455;
	padding-top: 20px;
}
#daysInput {
	max-width: 45px;
}
#greenButton:hover {
	opacity: 0.7;
}
#head {
	padding-top: 15%;
}
#summary, #list {
	font-size: 25px;
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	color: #455;
}
.hidden {
	visibility: hidden;
}
@media(max-width:767px){
	#totalPrice {
		font-size: 125px;
		margin-top: 50px;
	}
	.greenButton  {
	width: 160px;
	border-radius: 15px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	border-width: 0;
	background-color: #00cc99;
}
}	
@media(min-width:768px){
	#totalPrice {
		font-size: 200px;
		margin-top: 50px;
	}
	.greenButton  {
	width: 200px;
	border-radius: 15px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	border-width: 0;
	background-color: #00cc99;
}
}
.table {
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 0;
}
.table-responsive {
	border: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.table>.col-lg-6 {
	width: auto;
}
#toEat, #toParty, #toActivity, #toFlights, #toCalculator, #getTotal, #backToTop {
    margin-top: 25px;
    margin-right: 50px;
    float: right;
}
#toHome, #toSleep, #toEat2, #toParty2, #toActivity2, #toFlights2, #toCalculator2 {
    margin-top: 25px;
    margin-left: 50px; 
    float: left;
}
.image {
	text-align: center;
}
h3 {
	font-weighrt: bold;
	margin-top: 20px;
	text-align: center;
}
.dolar:hover {
	transform: scale(1.35);
}
.bigButtons {
	text-align: center;
	padding: 20px 0;
}
.autoHeight {
	margin-top: 10%;
}
#addBelow {
	margin-top: 25px;
}
.glyphicon-remove {
	cursor: pointer;
}
td, th {
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px dashed grey;
	margin-bottom: 0px;
}
#daysInput {
	background-color: transparent;
	border-color: transparent;
}